.container{
    background-color: yellow;
    display: flex;
    flex-direction: column;
    flex-wrap: center;
    align-items: flex-end;
    justify-content: center;
    height: 200opx;
}
.item {
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: flex;
    flex-wrap: wrap;
    justify-items: center;
}

img{width: 40vw;
}
